<div class="page-header section-dark" style="background-image: url('./assets/images/background.jpeg')">
  <div class="filter"></div>
  <div class="content-center">
    <div class="container">
      <div class="title-brand">
        <h1 class="presentation-title">CoffeeSpot</h1>
      </div>
      <h2 class="presentation-subtitle text-center">Find the best coffee spots in Nashville! </h2>
    </div>
  </div>
  <h6 class="category category-absolute">Designed and coded by Colin Santee</h6>

</div>
<app-footer></app-footer>
