<div class="setction p-5" id="review">
  <div class="container">
    <h2>Add a Shop</h2>
    <div class="card p-3">
      <div class="row">
        <div class="col-sm-12">
          <label for="seatingRange">Seating</label>
          <mat-slider min="0" max="10" thumbLabel id="seatingRange"></mat-slider>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label for="aestheticRange">Visual Aesthetic</label>
          <mat-slider min="0" max="10" thumbLabel id="aestheticRange"></mat-slider>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-12">
          <label for="study">Study Enviroment</label>
          <mat-slider min="0" max="10" thumbLabel id="studyRange"></mat-slider>
        </div>
      </div>
      <div class="d-inline-flex justify-content-end ml-auto mr-3">
        <button type="button" class="btn btn-outline-warning btn-round float-right">Submit</button>
      </div>
    </div>
  </div>
</div>
