<footer class="footer footer-black footer-white">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li>
            <a href="https://colinsantee.me" target="_blank">ColinSantee.me</a>
          </li>
          <li>
            <a href="https://github.com/CJSantee/frontend" target="_blank">GitHub</a>
          </li>
          <li>
            <a href="#" target="_blank"></a>
          </li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
          ©2020, website by Colin Santee
        </span>
      </div>
    </div>
  </div>
</footer>
