<div class="section section-image section-login" style="background-image: url('./assets/images/background.jpeg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mx-auto">
        <div class="card card-register">
          <h3 class="title mx-auto">Welcome</h3>
          <form class="register-form">
            <label>Email</label>
            <div class="input-group form-group-no-border">
              <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="email">
            </div>
            <label>Password</label>
            <div class="input-group form-group-no-border">
              <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password">
            </div>
            <button class="btn btn-danger btn-block btn-round" (click)="login()">Login</button>
          </form>
          <div class="forgot">
            <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
          </div>
        </div>
        <div class="col text-center">
          <a href="/register" class="btn btn-outline-neutral btn-round btn-lg">View Register Page</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
